* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.todo-form-container {
    width: 80%;
    margin:auto;
}

.todo-form {
    display: flex;
    justify-content: space-between;
}

.todo-input {
    width:80%;
    padding-left: 15px;
    height: 40px;
    font-size: 17px
}

.todo-form-button {
    width: 20%;
    font-size: 17px
}

.todo-element {
    width: 80%;
    margin: 10px auto;
    padding-left: 15px;
    background-color: #B4F5FF;
    color: #040A40;
    display: flex;
    justify-content: space-between;
}

.completed {
    opacity: 0.4;
    text-decoration: line-through;
}

.uncompleted {
    opacity: 1;
}