* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.todo-form-container {
    width: 80%;
    margin:auto;
}

.todo-form {
    display: flex;
    justify-content: space-between;
}

.todo-input {
    width:80%;
    padding-left: 15px;
    height: 40px;
    font-size: 17px;
    border: 2px solid #B4F5FF;
    border-radius: 5px;
}

.todo-form-button {
    width: 19%;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    background-color: #B4F5FF;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.todo-element {
    width: 80%;
    margin: 10px auto;
    padding-left: 15px;
    background-color: #B4F5FF;
    color: #040A40;
    display: flex;
    justify-content: space-between;
}

.completed {
    opacity: 0.4;
}

.uncompleted {
    opacity: 1;
}

.completed-todo-p {
    text-decoration: line-through;
}

.todo-buttons-wrapper {
    display: flex;
    align-items: center;
}

.todo-button {
    margin: 5px;
    padding: 5px;
    background-color: #B4F5FF;
    width: 40px;
    border: 2px solid #040A40;
    color: #040A40;
    border-radius: 10px;
}